.css-1t1j96h-MuiPaper-root-MuiDialog-paper,.css-uhb5lp {
    margin: 0 !important;
    width: 446px;
    border-radius: 8px !important;
}
@media screen and (max-width: 992px) {
  .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    height: 100%;
    max-height: 100% !important;
    border-radius: 0 !important;
  }
}