.footer-bottom-list-item::before {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    margin-right: 12px;
    background: rgb(93, 62, 188);
    counter-increment: list 1;
    content: "";
    display: inline-block;
    position: relative;
    margin-right: 10px;
    color: rgb(93, 62, 188);
}
@media screen and (max-width: 767px) {
  .footer-bottom-list-item::before {
   display: none;
  }
}